h1{
    color: rgb(0, 247, 123)
}

.header{
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
}
.menu{
    background-color: rgb(0, 181, 252);
    display: flex;
    justify-content: space-between;
}
.grid{
    display:flex;
    flex-wrap:wrap;
  justify-content:space-evenly;  
}

.footer{
    display:flex;
    justify-content:flex-end;
}
